.footer-container {
  background-image: url('../../assets/red-wave.png');
  bottom: 0;
  position: fixed;
  top: 41rem;
  width: 100%;
}

.txt-footer {
  text-align: center;
  margin-top: 4.5rem;
  font-size: 1em;
}


